<h1><%= t("users.index.title") %></h1>

<p><%= t("users.index.description") %></p>

<% if flash[:info] %>
<div class="alert alert-info">
  <%= flash[:info] %>
</div>
<% end %>

<div class="row-fluid">
  <div class="span4"><h4><%= t("activerecord.attributes.user.name") %><h4></div>
  <div class="span4"><h4><%= t("activerecord.attributes.user.email") %><h4></div>
</div>

<% @users.each do |user| %>
<div class="row-fluid">
  <div class="span4"><%= user.name %></div>
  <div class="span4"><%= user.email%></div>
  <div class="span1">
    <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
    delete_user_path(user),
    :method => :delete,
    :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
    :class => 'btn btn-mini btn-danger' %>
  </div>
</div>
<% end %>
<%= link_to t("users.index.new_user"), new_user_path %>