<h1><%= t("users.index.title") %></h1>

<p><%= t("users.index.description") %></p>

<table class="table table-striped">
  <tr>
    <td><h4><%= t("activerecord.attributes.user.name") %><h4></td> 
    <td><h4><%= t("activerecord.attributes.user.email") %><h4></td>
  </tr>

    <% @users.each do |user| %>
    <tr>
      <td><%= user.name %></td> 
      <td><%= user.email%></td> 
    </tr>
    <% end %>
</table>

<%= link_to t("users.index.new_user"), new_user_path %>