<<html>
<head>
  
</head>
<body> 

  <h1><%= @report_title %></h1>

  <% @reports.each do |report| %>
    <div>
      <h2><%=report.name%></h2>
      <h3><%=t("activerecord.attributes.report.current_activities")%></h3>
      <p><%=simple_format(report.current_activities)%></p>
      <% if report.next_activities != nil %>
        <h3><%=t("activerecord.attributes.report.next_activities")%></h3>
        <p><%=simple_format(report.next_activities)%></p>
      <% end %>
    </div>
  <% end %>

</body>
</html>