<html>
<head>
  
</head>
<body> 

<!--   <h1><%= @report_title %></h1> -->

  <% @users.each do |user| %>
    <div>
      <b><%=user.name%></b>
      <p>
      <% if user.weekly_report != nil %>
        <%=simple_format(user.weekly_report.current_activities)%>
      <% else %>
        <%=t("report_mailer.weekly_report.empty") %>
      <% end %>
      </p>

      <% if user.weekly_report != nil && user.weekly_report.next_activities != "" %>
      <p>
          <i><%=t("activerecord.attributes.report.next_activities")%>:&nbsp;</i>
          <%=user.weekly_report.next_activities%>
      </p>
      <% end %>
      <br />
    </div>
  <% end %>

</body>
</html>