<<html>
<head>
  
</head>
<body> 

  <h1><%= @report_title %></h1>

  <% @users.each do |user| %>
    <div>
      <h2><%=user.name%></h2>
      <h3><%=t("activerecord.attributes.report.current_activities")%></h3>

      <% if user.weekly_report != nil %>
        <p><%=simple_format(user.weekly_report.current_activities)%></p>
      <% else %>
        <%=t("report_mailer.weekly_report.empty") %>
      <% end %>
      
      <% if user.weekly_report != nil && user.weekly_report.next_activities != nil %>
        <h3><%=t("activerecord.attributes.report.next_activities")%></h3>
        <% if user.weekly_report != nil %>
          <p><%=simple_format(user.weekly_report.next_activities)%></p>
        <% else %>
          <%=t("report_mailer.weekly_report.empty") %>
        <% end %>
      <% end %>
    </div>
  <% end %>

</body>
</html>