<h1><%= t("report.index.title") %></h1>

<p><%=t("report.index.step_one") %></p>
<p><%=t("report.index.step_two") %></p>


   <% if flash[:notice] %>
      <p class="notice"><%= flash[:notice] %></p>
    <% end %>
    <% if flash[:error] %>
      <p class="error"><%= flash[:error] %></p>

      <% if @report.errors.any? %>
      <ul>
        <% @report.errors.full_messages.each do |message| %>
        <li><%= message %></li>
        <% end %>
      </ul>
      <% end %>
    <% end %>

<%= simple_form_for @report, :url => new_report_path do |form|%>
  <%= form.association :user, include_blank: false %>
  <%= form.input :current_activities, 
    hint: t("view.report.index.current_activities_tip") %>
  <%= form.input :next_activities, 
    hint: t("view.report.index.next_activities_tip") %>
  <%= form.submit %>
<% end %>